
<div class="row">
    <div class ="col-sm-4" *ngFor="let p of products">
        <div class="card border-primary mb-3" >
            
            <div class="card-body">
              <h4 class="card-title">Product Name : {{p.name}}</h4>
              <p class="card-text">Price : {{p.price}}</p>
              <button type="button" class="btn btn-info" (click)="onSelect(p)" >Select</button>
              &nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-info" [routerLink]="[ '/product-view/' , p.id ]">View</button>
            </div>
          </div>
          
    </div>
</div>


